.whiteboard-canvas {
    border: 1px solid #cccccc;
    display: block;
    background-color: white;
    cursor: crosshair;
    margin: 20px auto;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}